<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @atendimento.titulo %>
</p>

<%= link_to 'Edit', edit_atendimento_path(@atendimento) %> |
<%= link_to 'Back', atendimentos_path %>
